@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --orange: #ff9f0d;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
body {
    overflow: hidden;
  }

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


section{
    padding: 5rem 9%;
}


section:nth-child(even){
    background: #eee;
}



.sub-heading{
    text-align: center;
    color: var(--orange);
    font-size: 2.5rem;
    padding-top: 1rem;
}


.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: .5rem;
    text-transform: uppercase;
}

.type{
    text-align: center;
    color: var(--black);
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: #eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--orange);
    letter-spacing: .1rem;
}

/* navigation */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .Logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;    
}

header .Logo i{
    color: var(--orange);   
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a:hover{
    color: #fff;
    background: var(--orange);
}



header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #eee;
    color: var(--orange);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.collection .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.collection .box-container .box{
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
}

.collection .box-container .box .image{
    height: 30rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
}

.collection .box-container .box .imagedrink{
    height: 35rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
}

.collection .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.collection .box-container .box .imagedrink img{
    margin-left: 3.5rem;
    height: 100%;
    width: 58%;
    border-radius: .5rem;
}


.collection .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
    text-align: center; /* added for centered text */
}

.collection .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}

.collection .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.collection .box-container .box .content .price{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}


/* price-box */



/* hover effect for subtle lift */
.collection .box-container .box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

header .icons #menu-bars{
    display: none;
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .collection .box-container .box .image img{
        margin-left: 2.9rem;
        height: 100%;
        width: 80%;
    }
    
    .collection .box-container .box .imagedrink img{
        margin-left: 3.5rem;
        height: 100%;
        width: 58%;
        border-radius: .5rem;
    }

    .location .row .image iframe{
        width: 100%;
        margin-top: 4rem;
        padding-top: 1rem;
    }
    
}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }

    .order form .inputbox .input{
        width: 100%;
    }

    .location .row .image iframe{
        width: 100%;
        margin-top: 4rem;
        padding-top: 1rem;
    }
    

}
